[Unit]
Description=Fadecandy Server
After=network.target

[Service]
ExecStart=/home/pi/floasis-raspi/start.sh
WorkingDirectory=/home/pi/floasis-raspi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
